html, body {
  padding: 0;
  margin: 0;
}

/*    HEADER     */
.header {
  margin: 0;
  padding: 20px;
  background-color: #44E8E4;
  font-size: 30px;
}
/*    CONTENT    */
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}